@use 'variables';

.border {
  border: 1px solid black;
}


.bg-primary {
  background-color: $very-light-gray;
}

.bg-secondary {
  background-color: $light-grayish-blue;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-accent {
  background-color: $dark-blue;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: $md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $md) {
    align-items: flex-start;
  }
}

.flex-col-md-end {
  @media screen and (min-width: $md) {
    align-items: flex-end;
  }
}

.m-auto {
  margin: auto;
}

.m-top-1 {
  margin-top: 1rem;
}

.m-top-2 {
  margin-top: 2rem;
}

.m-top-3 {
  margin-top: 3rem;
}

.m-top-md-1 {
  @media screen and (min-width: $md) {
    margin-top: 1rem;
  }
}

.m-top-md-2 {
  @media screen and (min-width: $md) {
    margin-top: 2rem;
  }
}

.text-center {
  text-align: center;
}


.fixed {
  position: fixed;
}

.p-l-30 {
  padding-left: 30px;
}


