@import "variables";

body {
  font-size: 18px;
}

.h1 {
  font-size: 2.25rem;
  font-weight: 400;
}

.h1, .h2, .h3, .h3 a {
  color: $dark-blue;
}

.h3 a:hover, .h3 a:focus {
  color: $lime-green;
}

.h2, .h3 {
  font-weight: 300;
  margin-top: 2rem;

}

.h2 {
  font-size: 1.9rem;
}

.h3 {
  font-size: 1.2rem;
}


p, span {
  color: $grayish-blue;
  font-size: 14px;
  line-height: 1.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


