@import "src/assets/styles/globals/index";
@include google-font('Public+Sans');


body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $text-font;
  font-weight: 300;
}


section:not(.hero) {
  padding-top: 4rem;
  padding-bottom: 5rem;
}


//LAYOUT OVERRIDE
@media screen and (min-width: $md){
  section:not(.hero) .row {
    gap: 2%;
  }

  section:not(.hero) .col-md-6 {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
  }

}

@media screen and (min-width: $lg){
  section:not(.hero) .row {
    gap: 3%;
  }

  section:not(.hero) .col-lg-3 {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
  }

}















