.articles {

  &__headline {
    text-align: center;

    @media screen and (min-width: $md) {
      text-align: left;
    }
  }

}

.article {
  margin-top: 2rem;
  padding: 0;

  &__image {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 360px;
    
    @media  screen and (min-width: $md) {
      height: 170px;
    }
  }

  &__container {
    padding: 2rem;
  }

  &__caption {
    font-size: 10px;
    font-weight: bold;
  }

  &__headline, &__text {
    margin-top: 1rem;
  }

  &__headline {
    font-size: 1rem;
  }

  &__text {
    font-size: 12px;
  }

}
