// FEATURES

.features {
  text-align: center;


  @media screen and (min-width: $md) {
    text-align: left;
  }

  &__intro-text {
    margin-top: 1.5rem;
  }
}

.feature {
  h2 {
    margin-top: 2rem;
  }

  p {
    margin-top: 2rem;
  }

  &__icon {
    max-width: 70px;
    margin-top: 2.5rem;
  }
}
