.hero {
  padding-bottom: 3rem;
  background-image: url(/src/assets/img/bg-intro-mobile.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  &__content-box {
    text-align: center;
  }

  &__content {
    margin-top: 1.5rem;
  }


  .button {
    margin: 2rem auto;
  }

  .image-mockups {
    transform: translateY(-10%);
  }


  //@media
  @media screen and (min-width: 452px) and (max-width: 767px) {

  }

  @media screen and (min-width: $sm) {
    &__content {
      margin-top: 2rem;
    }



  }

  @media screen and (min-width: $md) {
    background-image: url(/src/assets/img/bg-intro-desktop.svg);
    background-position: right -400px top -75px;
    background-repeat: no-repeat;
    background-size: contain;


    &__content-box {
      margin-top: 10rem;
      text-align: left;
    }

    .button {
      margin: 2rem 0;
    }

    .image-mockups {
      width: 50%;
    }
  }

  @media screen and (min-width: $lg) {
    padding-bottom: 0;
    .h1 {
      font-size: 3rem;
    }

    &__content-box {
      margin-bottom: 5rem;
    }

  }

  @media screen and (min-width: $xl) {

  }

  @media screen and (min-width: $xxl) {

  }

}
