.hero {
  padding-bottom: 3rem;
  background-image: url(./src/assets/img/image-mockups.png), url(./src/assets/img/bg-intro-mobile.svg);
  background-position: center top -50px, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 90%, contain;

  &__content-box {
    text-align: center;
    margin-top: calc(20vh + 280px);
  }

  &__content {
    margin-top: 1.5rem;
  }


  .button {
    margin: 2rem auto;
  }



  //@media
  @media screen and (min-width: 520px) and (max-width: 767px) {
    background-position: center top -140px, center top;
    background-size: contain, contain;

    &__content-box {
      margin-top: calc(50vh + 140px);
    }
  }

  @media screen and (min-width: $sm) {
    &__content {
      margin-top: 2rem;
    }
  }

  @media screen and (min-width: $md) {
    background-image: url(src/assets/img/bg-intro-desktop.svg);
    background-position: top -70px right -350px;
    background-repeat: no-repeat;
    background-size: 850px;


    &__content-box {
      margin-top: 10rem;
      text-align: left;
    }

    .button {
      margin: 2rem 0;
    }

    .bg-mockups {
      position: absolute;
      right: -75px;
      top: 30px;
      max-width: 450px;
    }

  }

  @media screen and (min-width: $lg) {
    padding-bottom: 0;
    background-position: top -100px right -350px;
    background-size: 950px;

    .bg-mockups {
      right: -65px;
      top: 10px;
      max-width: 530px;
    }

    .h1 {
      font-size: 3rem;
    }

    &__content-box {
      margin-bottom: 5rem;
    }

  }

  @media screen and (min-width: $xl) {
    padding-bottom: 2rem;
    padding-top: 4rem;
    background-size: 1000px;
    background-position: top -120px right -250px;

    .bg-mockups {
      right: -100px;
      top: -30px;
      max-width: 700px;
    }
  }

}
