@import 'lib/reset.scss';
@import 'lib/base.scss';
@import 'lib/layout.scss';
@import 'lib/variables.scss';
@import 'lib/helpers.scss';
@import 'lib/bootstrap-grid.css';
@import 'lib/text.scss';


body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
}

//HEADER
header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 90px;

  .logo {
    max-width: 200px;
    padding: 15px;
  }

  .nav {
    text-align: center;
    padding-top: 20px;

    &__item {
      margin-right: 10px;
      padding-bottom: 30px;

      @media screen and (min-width: $lg) {
        margin-right: 20px;
      }
    }

    &__item:hover {
      border-bottom: 5px solid $lime-green;
    }

  }

  .burger {
    height: auto;
    margin-top: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .close-icon {
    display: none;
  }


}

.mobile-nav {
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 5%;
  right: 5%;
  padding: 2rem;

  &__item {
    margin-top: 2rem;
    border-bottom: 5px solid transparent;
  }

  &__item:hover {
    border-bottom: 5px solid $lime-green;
  }
}


.button {
  background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(49, 211, 92, 1) 24%, rgba(6, 205, 247, 1) 100%);
  text-align: center;
  padding: 20px;
  border-radius: 120px;
  max-width: 200px;
  color: white;
  font-weight: bold;

  &:hover {
    background: linear-gradient(90deg, rgba(49, 211, 80, 0.4248074229691877) 0%, rgba(49, 211, 92, 0.5060399159663865) 24%, rgba(6, 205, 247, 0.5648634453781513) 100%);
  }
}


//HERO
.hero {
  &__banner {
    position: relative;
    //background-image:  url('../../img/image-mockups.png'), url('../../img/bg-intro-mobile.svg');
    //background-position: top;
    //background-size: contain;
    //background-repeat: no-repeat;
    background: url('../../img/image-mockups.png') 50% center no-repeat, url('../../img/bg-intro-mobile.svg') 100% bottom no-repeat;
    background-size: 50%;
    height: 500px;
  }
}
