@import 'lib/bootstrap-grid.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

img {
  line-height: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  width: 100%;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

body[data-responsive=responsive] {
  width: 100%;
  min-width: 0;
}

ol,
ul {
  list-style: none;
}

div {
  box-sizing: border-box;
  background-clip: padding-box !important;
}

#root {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

b,
strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:hover, afocus {
  cursor: pointer;
}

div {
  box-sizing: border-box;
  background-clip: padding-box;
}

body {
  width: 100%;
}

.border {
  border: 1px solid black;
}

.bg-primary {
  background-color: hsl(0, 0%, 98%);
}

.bg-secondary {
  background-color: hsl(220, 16%, 96%);
}

.p-m-o {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .p-m-o {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 90px;
}
header .logo {
  max-width: 200px;
  padding: 15px;
}
header .nav {
  text-align: center;
  padding-top: 20px;
}
header .nav__item {
  margin-right: 10px;
  padding-bottom: 30px;
}
@media screen and (min-width: 992px) {
  header .nav__item {
    margin-right: 20px;
  }
}
header .nav__item:hover {
  border-bottom: 5px solid hsl(136, 65%, 51%);
}
header .burger {
  height: auto;
  margin-top: 15px;
}
header .burger:hover {
  cursor: pointer;
}
header .close-icon {
  display: none;
}

.mobile-nav {
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 5%;
  right: 5%;
  padding: 2rem;
}
.mobile-nav__item {
  margin-top: 2rem;
  border-bottom: 5px solid transparent;
}
.mobile-nav__item:hover {
  border-bottom: 5px solid hsl(136, 65%, 51%);
}

.button {
  background: linear-gradient(90deg, rgb(49, 211, 92) 0%, rgb(49, 211, 92) 24%, rgb(6, 205, 247) 100%);
  text-align: center;
  padding: 20px;
  border-radius: 120px;
  max-width: 200px;
  color: white;
  font-weight: bold;
}
.button:hover {
  background: linear-gradient(90deg, rgba(49, 211, 80, 0.424807423) 0%, rgba(49, 211, 92, 0.506039916) 24%, rgba(6, 205, 247, 0.5648634454) 100%);
}

.hero__banner {
  position: relative;
  background: url("../../img/image-mockups.png") 50% center no-repeat, url("../../img/bg-intro-mobile.svg") 100% bottom no-repeat;
  background-size: 50%;
  height: 500px;
}

/*# sourceMappingURL=index.css.map */
