@import "index";

@include google-font('Public+Sans');


body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $text-font;
  font-weight: 300;
}

//HEADER
header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 90px;

  .logo {
    max-width: 200px;
    padding: 15px;
  }

  .nav {
    text-align: right;
    padding-top: 20px;

    &:hover {
      cursor: pointer;
    }

    &__item {
      margin-right: 10px;
      padding-bottom: 30px;
      border-bottom: 1px solid transparentize($lime-green, 1);
      transition: border-bottom 0.2s;
      transition-timing-function: ease-in-out;

      @media screen and (min-width: $lg) {
        margin-right: 20px;
      }
    }

    &__item:hover {
      border-bottom: 5px solid $lime-green;
    }

  }

  .burger {
    height: auto;
    margin-top: 15px;
    max-width: 70px;

    &:hover {
      cursor: pointer;
    }
  }

  .close-icon {
    display: none;
    max-width: 20px;
  }


}

.mobile-nav {
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 5%;
  right: 5%;
  padding: 2rem;

  &__item {
    margin-top: 2rem;
    border-bottom: 5px solid transparent;
  }

  &__item:hover {
    border-bottom: 5px solid $lime-green;
  }
}


.button {
  background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(49, 211, 92, 1) 24%, rgba(6, 205, 247, 1) 100%);
  text-align: center;
  padding: 20px;
  border-radius: 120px;
  max-width: 200px;
  color: white;
  font-weight: bold;

  &:hover {
    background: linear-gradient(90deg, rgba(49, 211, 80, 0.4248074229691877) 0%, rgba(49, 211, 92, 0.5060399159663865) 24%, rgba(6, 205, 247, 0.5648634453781513) 100%);
  }
}


//HERO
.hero {
  position: relative;

  @media screen and (min-width: $lg) {
    height: 40vh;
  }

  &__banner {
    background-image: url(../../img/image-mockups.png), url(../../img/bg-intro-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center top -120px, center top -75px;
    background-size: 90%, cover;
    height: 60vh;
    position: absolute;
    left: 0;

    @media screen and (min-width: $md) {
      background-image: url(../../img/image-mockups.png), url(../../img/bg-intro-desktop.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: center bottom 158px, center bottom 93px;
      position: relative;
      background-size: contain, cover;
    }
  }


  &__content-box {
    margin-top: 60vh;
    text-align: center;
    @media screen and (min-width: $md) {
      margin-top: 0;
      padding-top: 3rem;
      text-align: left;
    }
  }

  &__content {
    margin-top: 1.5rem;
    @media screen and (min-width: $sm) {
      margin-top: 2rem;
    }
  }

}



.image-mockups {
  position: absolute;
  top: -10%;
}

.button {
  margin: 1rem auto 0 auto;
  @media screen and (min-width: $md) {
    margin: 1rem 0 0 0;
  }
}











