@import "globals/index";

@include google-font('Public+Sans');


body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $text-font;
  font-weight: 300;
}

.row {
  gap: 2%;
}

.col-md-3 {
  @media screen and (min-width: $md) {
    flex: 0 0 23%;
    max-width: 23%;
  }
}


section:not(.hero) {
  padding-top: 4rem;
  padding-bottom: 5rem;
}


.logo {
  max-width: 200px;
  padding: 15px;
}

footer {
  padding-block: 5rem;
  height: 30vh;
  &, a {
    color: $white;
  }

}













