@import "globals/index";

@include google-font('Public+Sans');


body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $text-font;
  font-weight: 300;
}

.row {
  gap: 2%;
}

.col-md-3 {
  @media screen and (min-width: $md) {
    flex: 0 0 23%;
    max-width: 23%;
  }
}


section:not(.hero) {
  padding-top: 4rem;
  padding-bottom: 5rem;
}



footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 30vh;
  color: $white;

  @media screen and (min-width: $md) {
    height: 15vh;
   
  }

  a:not(.button) {
    color: $white;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .button {
    margin: 1rem auto 0 auto;
    @media  screen and (min-width: $md) {
      margin: 1rem 0 0 auto;
    }
  }

}

.social {

  &__icon {
    margin-right: 0.5rem;
  }
}













